@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
	--main-profiles-width: 1200px;

	/*--Variables del perfil--*/
	--profile-width: 136px;
	--profile-width-table: 84px;
}
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body, html {
	background-color: #141414;
	width: 100vw;
	height: 100vh;
}
.header {
	background: linear-gradient(to bottom, #000000, #141414);
	height: 70px;
	padding: 0px 40px;
	display: flex;
	align-items: center;
}
.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.main__title {
	color: #fff;
	font-size: 50px;
	margin: 50px 0 20px;
	font-weight: 400;
	text-align: center;
}
.main__profiles {
	max-width: var(--main-profiles-width);
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.main__profiles__list {
	width: 100%;
	padding: 0px;
	margin-bottom: 20px;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.profile {
	width: var(--profile-width);
	margin-right: 27px;
}
.profile:last-child {
	margin: 0px;
}
.profile__link:hover {
	text-decoration: none;
}

.profile__link:hover .profile__content__img{
	box-shadow: inset 0 0 0 3px white;
}
.profile__link:hover .profile__username {
	color: white;
	font-weight: bold;
}
.profile__content__img {
	width: var(--profile-width);
	height: var(--profile-width);
	overflow: hidden;
	border-radius: 4px;
}
.profile__img {
	width: 100%;
}
.profile__username {
	width: 100%;
	font-size: 1.2vw;
	display: block;
	color: grey;
	text-align: center;
	margin-top: 12px;
	font-weight: 500px;
}
.main__profiles_button_admin {
	background: none;
	border: 1px solid grey;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 2px;
	font-weight: 300;
	padding: 5px 20px;
	color: grey;
	margin: 20px auto;
}
.main__profiles_button_admin:hover {
	color: white;
	border-color: white;
}

@media (max-width: 800px ) {
	.main__title {
		font-size: 30px;
	}
	.profile {
		width: var(--profile-width-table);
		margin-right: 14px;	
	}
	.profile__content__img {
		width: var(--profile-width-table);
		height: var(--profile-width-table);
	}
	.profile__username {
		font-size: 12px;
	}
}